/* Add global styles */
body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F6F8F9;
}

/* Custom CSS file (styles.css) */
/* ... */
.masthead {
    background-size: cover;
    min-height: 95vh;
    position: relative;
    color: white;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) scale(0.4); /* Adjust the scale value to control the zoom level */
}



.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Add a semi-transparent black overlay, adjust the rgba value to modify the transparency */
    background-color: rgba(0, 0, 0, 0.5);
}

/* ... */


.navbar {
    background-color: black;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

h1 {
    font-size: 4rem;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Add a semi-transparent black overlay, adjust the rgba value to modify the transparency */
    background-color: rgba(0, 0, 0, 0.5);
}

.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* Change the size, color, and style of the h2 element */
h2 {
    font-size: 3rem;
    color: #000000;
    font-weight: bold;
}

h2.mb-5 {
    padding: 50px;
}

/* Change the size, color, and style of the h3 element */
h3 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: normal;
}

h3.card-title {
    font-size: 2rem;
    color: #F6F8F9;
    font-weight: normal;
}

#ceo {
    color: #000000;
}

/* Change the size, color, and style of the list items */
li {
    font-size: 1.2rem;
    color: #6c757d;
}

a.navbar-brand {
    padding-left: 5px;
}

@media (max-width : 768px) {
    .masthead {
        min-height: 30vh;
    }
}
